@using WebMVC.Models
@model List<Product>
<div class="products-row row">

    <!-- Carousel Heading -->
    <div class="col-lg-12 col-md-12 col-sm-12">

        <div class="carousel-heading">
            <h4>Sản phẩm mới</h4>
            <div class="carousel-arrows">
                <i class="icons icon-left-dir"></i>
                <i class="icons icon-right-dir"></i>
            </div>
        </div>

    </div>
    <!-- /Carousel Heading -->
    <!-- Carousel -->
    <div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">

        <div class="owl-carousel" data-max-items="3">
            @foreach (var item in Model)
            {
            <!-- Slide -->
            <div>
                <!-- Carousel Item -->
                <div class="product">

                    <div class="product-image">
                        <span class="product-tag">Giảm giá</span>
                        <img src="@item.url_img" alt="@item.TenSanPham">
                        <a href="/Productz/P/@item.ID" class="product-hover">
                            <i class="icons icon-eye-1"></i> Xem nhanh
                        </a>
                    </div>

                    <div class="product-info">
                        <h5>
                            @Html.Raw(@Ajax.ActionLink("lthema1", "P", "Productz", new { id = item.ID },
                                   new AjaxOptions
                                   {
                                       UpdateTargetId = "mm-content",
                                       OnSuccess = "loadC"
                                   }, new { @class = "AjaxLink", title = item.TenSanPham })
                                   .ToHtmlString()
                                   .Replace("lthema1", @item.TenSanPham))
                        </h5>
                        <span class="price">@string.Format("{0:#,#.##}", item.GiaKhuyenMai) VNĐ</span>
                        <div class="rating readonly-rating" data-score="@item.Nrate"></div>
                    </div>

                    <div class="product-actions">
                        <span class="add-to-cart">
                            @Html.Raw(@Ajax.ActionLink("lthemac", "AddToCart", "ShoppingCart", new { id = item.ID },
                        new AjaxOptions
                        {
                            HttpMethod = "POST",
                            OnSuccess = "loadTB"
                        }, new { @class = "", title = "Thêm giỏ hàng" })
                                   .ToHtmlString()
                                   .Replace("lthemac", "<span class='action-wrapper' style='color:white;'><i class='icons icon-basket-2'></i><span class='action-name'>Thêm giỏ hàng</span></span>"))
                        </span>
                        <span class="add-to-favorites">
                            @Html.Raw(@Ajax.ActionLink("lthemac1", "AddToCart", "Wishlist", new { id = item.ID },
                        new AjaxOptions
                        {
                            HttpMethod = "POST",
                            OnSuccess = "loadTB",
                            OnComplete = "loadWLH1"
                        }, new { @class = "", title = "Thêm ưa thích" })
                                   .ToHtmlString()
                                   .Replace("lthemac1", "<span class='action-wrapper' style='color:white;'><i class='icons icon-heart-empty'></i><span class='action-name'>Thêm ưa thích</span></span>"))
                        </span>
                        <span class="add-to-compare">
                            @Html.Raw(@Ajax.ActionLink("lthemab", "Compare", "Cartz", new { id = item.ID },
                        new AjaxOptions
                        {
                            HttpMethod = "POST",

                            OnSuccess = "loadComparene"
                        }, new { @class = "", title = "Thêm so sánh" })
                                   .ToHtmlString()
                                   .Replace("lthemab", "<span class='action-wrapper' style='color:white;'><i class='icons icon-docs'></i><span class='action-name'>Thêm so sánh</span></span>"))
                        </span>
                    </div>

                </div>
                <!-- /Carousel Item -->
            </div>
            <!-- /Slide -->
            }
            


        </div>
    </div>
    <!-- /Carousel -->

</div>
<script src="~/Scripts/jspage.js"></script>
<script>
    var loadComparene = function (result) {
        console.log(result)
        if (result.error == -1) {
            console.log("Loi ....")
            //thongbao2s("Thông báo", "Vui lòng đăng nhập")
        } else if (result.error == -2) {
            thongbao2s("Thông báo", "So sánh tối đa 3 sản phẩm !")
        }
        else {
            thongbaosuccess2s("Thông báo", "Thành công !")
            $.ajax({
                url: "/Cartz/ComparePartialView",
                type: "GET",
                success: function (result) {
                    $('#compare-content').html(result);
                }
            });
            $.ajax({
                url: "/Cartz/ContentCompare",
                type: "GET",
                success: function (result) {
                    $('#con-compare').html(result);
                }
            });
            $.ajax({
                url: "/Cartz/CompareInHeader",
                type: "GET",
                success: function (result) {
                    $('#li-compare').html(result);
                }
            });
        }
    }
    var loadWLH1 = function (result) {
        console.log(result)
        if (result.error == -1) {
            console.log("Loi ....")
            //thongbao2s("Thông báo", "Vui lòng đăng nhập")
        } else if (result.error == -2) {
            thongbao2s("Thông báo", "So sánh tối đa 10 sản phẩm !")
        } else {
            //thongbaosuccess2s("Thông báo", "Thành công !")
            $.ajax({
                url: "/Wishlist/WishlistInHeader",
                type: "GET",
                success: function (result) {
                    $('#li-wl').html(result);
                }
            });
        }
    }
</script>

