@model IEnumerable<WebMVC.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaLoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenLoai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TuKhoa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayTao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayCapNhat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GhiChu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrangThai.TenTrangThai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaLoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenLoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TuKhoa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayTao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayCapNhat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GhiChu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrangThai.TenTrangThai)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
