@model WebMVC.Models.Manufacturer
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    ViewBag.Title = "Cập nhật hãng sản xuất";
}

<div class="form-horizontal" id="tab-form-horizontal">
    <div class="page-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="portlet box portlet-yellow">
                    <div class="panel-heading">
                        <div class="caption">Cập nhật hãng sản xuất</div>
                    </div>
                    @using (Ajax.BeginForm("Edit", "Manufacturers", null, new AjaxOptions()
                    {
                        UpdateTargetId = "tab-form-horizontal",
                        HttpMethod = "POST"

                    }, new { @class = "form-horizontal form-seperated", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="portlet-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ID)
                            <div class="form-group">
                                @Html.LabelFor(model => model.Ma, "Mã hãng", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Ma, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.Ma, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.TenHangSanXuat, "Tên hãng", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.TenHangSanXuat, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TenHangSanXuat, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.TuKhoa, "Từ khóa", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.TuKhoa, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    @Html.ValidationMessageFor(model => model.TuKhoa, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.TrangThai, "Tình trạng", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.DropDownList("TrangThai", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TrangThai, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.GhiChu, "Ghi chú", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.GhiChu, new { style = "color: #555; padding-left:12px; font-size:14px; width: 100%; height:200px;" })
                                    @Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10 lka">
                                    <button type="submit" class="btn btn-success"><i class='fa fa-edit'></i>&nbsp; Cập nhật</button>
                                    &nbsp;
                                    <button type="button" class="btn btn-trove">
                                        @Html.Raw(@Ajax.ActionLink("return", "Index", "Manufacturers", null,
                                           new AjaxOptions
                                           {
                                               UpdateTargetId = "m-content"
                                           }, new { @class = "AjaxLink" }).ToHtmlString().Replace("return", "<i class='fa fa-mail-reply-all'></i>&nbsp; Trở về"))
                                    </button>
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
        $(document).ready(function(e) {
            $('input[name="TenHangSanXuat"]').bind('keyup blur focus', function () {
                //alert('a');
                var aa =$(this).val();
                var as = $('input[name="TuKhoa"]');

                aa.toLowerCase();
                as = aa.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a").replace(/\ /g, '-').replace(/đ/g, "d").replace(/đ/g, "d").replace(/ỳ|ý|ỵ|ỷ|ỹ/g,"y").replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g,"u").replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g,"o").replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g, "e").replace(/ì|í|ị|ỉ|ĩ/g,"i");
                $('input[name="TuKhoa"]').val(as);
            });
        });
</script>
