@using WebMVC.Models
@model Login
@{
    Layout = null;
}
@{
    ViewBag.Title = "Log in";
}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Sign In | Dashboard</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,800italic,400,700,800">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,700,300">
    <link type="text/css" rel="stylesheet" href="~/Scripts/vendors/jquery-ui-1.10.4.custom/css/ui-lightness/jquery-ui-1.10.4.custom.css">
    <link type="text/css" rel="stylesheet" href="~/Scripts/vendors/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="~/Scripts/vendors/bootstrap/css/bootstrap.min.css">
    <!--Loading style vendors-->
    <link type="text/css" rel="stylesheet" href="~/Scripts/vendors/animate.css/animate.css">
    <link type="text/css" rel="stylesheet" href="~/Scripts/vendors/iCheck/skins/all.css">
    <!--Loading style-->
    <link type="text/css" rel="stylesheet" href="~/Scripts/css/themes/style1/pink-violet.css" class="style-change color-change">
    <link type="text/css" rel="stylesheet" href="~/Scripts/css/style-responsive.css">
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <style>
        .page-form {
            background: #A6A6A6 !important;
            opacity: 1 !important;
            color: #040B15;
            margin: 15% auto 0 auto !important;
            /*border-radius:15px !important;*/
        }
       
        #signin-page {
            background: url('../../img/bg/bg2.jpg') center center fixed !important;
            background-size: cover;
        }
        .tamnt input{
                width: 100%;
        }
    </style>
</head>
<body id="signin-page">
    <div class="page-form">
        @using (Html.BeginForm("Login", "Users", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form", role = "form" }))
        {
            @Html.AntiForgeryToken()
           
            <div class="header-content"><h1>Log In</h1></div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="body-content">
                <div class="form-group">
                    <div class="input-icon right tamnt">
                        <i class="fa fa-user"></i>
                        @Html.EditorFor(model => model.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                    
                </div>
                <div class="form-group">
                    <div class="input-icon right">
                        <i class="fa fa-key"></i>
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group pull-left">
                    <div class="checkbox-list">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                        
                    </div>
                </div>
                <div class="form-group pull-right">
                    <button type="submit" class="btn btn-success">
                        Log In
                        &nbsp;<i class="fa fa-chevron-circle-right"></i>
                    </button>
                </div>
                <div class="clearfix"></div>
            </div>
        }
        @*<form action="~/Admin/Login" class="form" method="post">
            <div class="header-content"><h1>Log In</h1></div>
            <div class="body-content">
                
                <div class="form-group">
                    <div class="input-icon right"><i class="fa fa-user"></i>
                    <input type="text" placeholder="Username" name="username" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-icon right"><i class="fa fa-key"></i>
                    <input type="password" placeholder="Password" name="password" class="form-control">
                    </div>
                </div>
                <div class="form-group pull-left">
                    <div class="checkbox-list">
                        <label>
                            <input type="checkbox">&nbsp;
                            Keep me signed in
                        </label>
                    </div>
                </div>
                <div class="form-group pull-right">
                    <button type="submit" class="btn btn-success">
                        Log In
                        &nbsp;<i class="fa fa-chevron-circle-right"></i>
                    </button>
                </div>
                <div class="clearfix"></div>
                </div>
        </form>*@
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <!--loading bootstrap js-->
    <script src="~/Scripts/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/vendors/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js"></script>
    <script src="~/Scripts/html5shiv.js"></script>
    <script src="~/Scripts/respond.min.js"></script>
    <script src="~/Scripts/vendors/iCheck/icheck.min.js"></script>
    <script src="~/Scripts/vendors/iCheck/custom.min.js"></script>
    <script>
//BEGIN CHECKBOX & RADIO
        $('input[type="checkbox"]').iCheck({
            checkboxClass: 'icheckbox_minimal-grey',
            increaseArea: '20%' // optional
        });
        $('input[type="radio"]').iCheck({
            radioClass: 'iradio_minimal-grey',
            increaseArea: '20%' // optional
        });
        </script>
</body>
</html>
