@model PagedList.IPagedList<WebMVC.Areas.Admin.Models.ContactView>
@using PagedList.Mvc
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    ViewBag.Title = "Quản lý thông tin liên hệ";
}

<div class="page-content">
    <div class="row">
        <div class="col-sm-3 col-md-2">
            <div class="btn-group btn-group-sm">
                <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">
                    Mail
                    &nbsp;<span class="caret"></span>
                </button>
                <ul role="menu" class="dropdown-menu">
                    <li><a href="#">Mail</a></li>

                </ul>
            </div>
        </div>
        <div class="col-sm-9 col-md-10">

        </div>
    </div>
    <div class="mtl mbl"></div>
    <div class="row">
        <div class="col-sm-3 col-md-2">
            <a href="#" role="button" class="btn btn-danger btn-sm btn-block">Tạo mới</a>

            <div class="mtm mbm"></div>
            <div class="panel">
                <div class=" pan">
                    <ul style="background: #fff" class="nav nav-pills nav-stacked">
                        <li class="active">
                            <a href="ListEmailInbox.aspx">
                                <span class="badge pull-right">
                                    @Model.TotalItemCount
                                </span>
                                <i class="fa fa-inbox fa-fw mrs"></i>Hộp thư
                            </a>

                        </li>
                        <li><a href="#">
                            <i class="fa fa-info-circle fa-fw mrs"></i>Thư đã gửi</a>
                        </li>

                        <li>
                            <a href="#">
                                <span class="badge badge-orange pull-right">0</span>
                                <i class="fa fa-edit fa-fw mrs"></i>Thùng rác
                            </a>

                        </li>
                    </ul>
                </div>
            </div>
            <hr />

        </div>
        <div class="col-sm-9 col-md-10">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#home" data-toggle="tab">
                        <span class="glyphicon glyphicon-inbox"></span>&nbsp;
                        Primary
                    </a>
                </li>

            </ul>
            <div class="tab-content" id="t-content">
                <div id="home" class="tab-pane fade in active">
                    <div class="list-group mail-box">
                        @foreach (var item in Model)
                        {
                            
                                


                        <div href='#' class="list-group-item">
                            <input type="checkbox" />
                            <span class="fa fa-star-o mrm mlm"></span>
                            @if (item.trangthai == true)
                            {
                               
                                   @Html.Raw(@Ajax.ActionLink("lthema1", "Details", "Contacts", new {id = item.id },
                                   new AjaxOptions
                                   {
                                       UpdateTargetId = "m-content"
                                   }, new { @class = "AjaxLink" }).ToHtmlString().Replace("lthema1", "<span style='min-width: 120px; display: inline-block; font-weight:bold; ' class='name'>" + @item.name + "</span>"))


                                     
                                
                                <span style="font-weight:bold;margin-right:35px;" title="Tiêu đề">
                                    @item.shortTieuDe
                                </span>
                                
                                <span style="font-size: 11px;font-weight:bold;" class="text-muted" title="Nội dung, chọn vào tên để xem nội dung chi tiết">
                                    @item.shortNoiDung
                                </span>
                            }
                            else
                            {
                                @Html.Raw(@Ajax.ActionLink("lthema1", "Details", "Contacts", new { id = item.id },
                                   new AjaxOptions
                                   {
                                       UpdateTargetId = "m-content"
                                   }, new { @class = "AjaxLink" }).ToHtmlString().Replace("lthema1", "<span style='min-width: 120px; display: inline-block;' class='name'>" + @item.name + "</span>"))

                                <span style="margin-right:35px;" title="Tiêu đề">
                                    @item.shortTieuDe
                                </span>
                                
                                <span style="font-size: 11px;" class="text-muted" title="Nội dung, chọn vào tên để xem nội dung chi tiết">
                                    @item.shortNoiDung
                                </span>
                            }
                            
                            <span class="time-badge">
                                @item.shortDate
                            </span>
                            <span class="pull-right mrl"><span class="glyphicon glyphicon-paperclip"></span></span>
                            
                            
                        </div>
                        }



                    </div>
                </div>

            </div>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>
</div>

