@model WebMVC.Models.Job
@{
    Layout = Request.IsAjaxRequest() ? null : "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml"; }

@{
    ViewBag.Title = "Thông tin bài viết";
}

<div id="tab-form-seperated" class="tab-pane">
    <style>
        .panel.panel-yellow {
            border-color: #483752 !important;
        }

            .panel.panel-yellow > .panel-heading {
                background: #483752 !important;
                border-color: #483752 !important;
            }

        .lka button a {
            color: white;
        }
    </style>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-yellow">
                <div class="panel-heading">Form Seperated</div>
                <div class="panel-body pan">

                    @using (Html.BeginForm("Edit", "Jobs", FormMethod.Post, new { @class = "form-horizontal form-seperated", enctype = "multipart/form-data" }))
                    {

                        @Html.AntiForgeryToken()
                        <div class="form-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                            <div class="form-group">
                                @if (TempData["Success"] != null)
                                {
                                    <p style="text-align: center;color:green;">Thao tác thành công</p>
                                }
                                @if (ViewData["Error"] != null)
                                {
                                    <p style="text-align: center;color:red;">@ViewData["Error"].ToString()</p>
                                }
                                @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "col-md-3 control-label" })
                                <div class="col-md-4">
                                    @Html.HiddenFor(model => model.id)
                                    @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.contents, htmlAttributes: new { @class = "col-md-3 control-label" })

                                <div class="col-md-9">

                                    @Html.TextAreaFor(model => model.contents, new { @class = "ckeditor form-control", @id = "txtedit", @rows = "6" })
                                    @Html.ValidationMessageFor(model => model.contents, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.img, htmlAttributes: new { @class = "col-md-3 control-label" })

                                <div class="col-md-9">

                                    <input type="file" name="file" />
                                </div>
                            </div>



                        </div>
                        <div class="form-actions text-right pal lka">
                            <button type="submit" class="btn btn-primary">Cập nhật</button>
                            &nbsp;
                            <button type="button" class="btn btn-green">
                                @Html.ActionLink("Huỷ", "Index", "Jobs")
                            </button>
                        </div>
                    }

                    <script>
    var kiemtraketqua = function(result)
    {
        var rs = JSON.parse(result.responseText);
        if (rs != null) {
            if(rs.error != 0)
            {
                thongbao2s("Thông báo lỗi", rs.msg);
            } else {
                thongbaothanhcong("Thông báo", rs.msg);
            }
        }

    }
                    </script>


                </div>
            </div>


        </div>
    </div>
</div>


