@inherits System.Web.Mvc.WebViewPage<MembershipUser>

<!-- Top Header -->
<div id="top-header">

    <div class="row">

        <nav id="top-navigation" class="col-lg-7 col-md-7 col-sm-7">
            <ul class="pull-left">
                @if (Model != null)
                {
                    <li><a href="#">Tài khoản</a></li>
                    <li>
                        @Html.Raw(@Ajax.ActionLink("contact", "Index", "ShoppingCart", null,
                            new AjaxOptions { UpdateTargetId = "mm-content" },
                            new { @class = "AjaxLink" }).ToHtmlString().Replace("contact", "Đặt hàng"))
                    </li>
                    <li>
                        @Html.Raw(@Ajax.ActionLink("contact", "History", "Cartz", null,
                            new AjaxOptions { UpdateTargetId = "mm-content" },
                            new { @class = "AjaxLink" }).ToHtmlString().Replace("contact", "Lịch sử thanh toán"))
                    </li>
                    
                    <li>
                        @Html.Raw(@Ajax.ActionLink("contact", "Contact", "FTeam", null,
                            new AjaxOptions { UpdateTargetId = "mm-content" },
                            new { @class = "AjaxLink" }).ToHtmlString().Replace("contact", "Liên hệ"))
                    </li>
                }
                
            </ul>
        </nav>

        <nav class="col-lg-5 col-md-5 col-sm-5">
            <ul class="pull-right">
                @if (Model == null || !Model.IsApproved)
                {
                    <li class="purple">
                        <a href="#"><i class="icons icon-user-3"></i> Đăng nhập</a>
                        @Html.Action("Login", "Fteam")
                    </li>
                    <li>
                        @Html.Raw(@Ajax.ActionLink("lthemac1", "Register", "FTeam", null,
                        new AjaxOptions
                        {
                            UpdateTargetId="mm-content"
                        }, new { @class = "AjaxLink", title = "Đăng ký" })
                                   .ToHtmlString()
                                   .Replace("lthemac1", "<i class='icons icon-lock'></i>Đăng ký"))
                @*<a href="#"><i class="icons icon-lock"></i> Đăng ký</a>*@
                    </li>
                }
                else
                {
                    <li class="purple">
                        @Html.Raw(@Ajax.ActionLink("lthemac", "Logout", "FTeam", null,
                        new AjaxOptions
                        {
                            
                            HttpMethod = "POST",
                            OnSuccess = "loadLogOut"
                        }, new { @class = "", title = "Đăng xuất" })
                                   .ToHtmlString()
                                   .Replace("lthemac", "<i class='icons icon-user-3'></i>Đăng xuất"))


                        @*<a href="#"><i class="icons icon-user-3"></i> Đăng xuất </a>*@

                    </li>
                    <li class="purple">
                        <a href="#"><i class="icons icon-user-3"></i> Xin chào @Model.UserName</a>
                        
                    </li>
                    
                }

            </ul>
        </nav>

    </div>

</div>
<!-- /Top Header -->

<script>

    var loadLogOut = function (result)
    {
        console.log(result)
        if (result.error == -1) {
            console.log("Dang xuat")
            //thongbao2s("Thông báo", "")
        } else {
            //thongbaosuccess2s("Thông báo", "Thành công !")
            $.ajax({
                url: "/FTeam/HeaderPatialView",
                type: "GET",
                success: function (result) {
                    $('#mz-header').html(result);
                }
            });
        }
    }
</script>
@*<!-- Main Header -->
<div id="main-header">

    <div class="row">

        <div id="logo" class="col-lg-4 col-md-4 col-sm-4">
            <a href="#">
                <img src="~/img/logo.png" alt="Logo">

            </a>
        </div>

        <nav id="middle-navigation" class="col-lg-8 col-md-8 col-sm-8">
            <ul class="pull-right">
                <li class="blue">
                    <a href="#"><i class="icons icon-docs"></i>0 Items</a>
                </li>
                <li class="red">
                    <a href="#"><i class="icons icon-heart-empty"></i>2 Items</a>
                </li>


                <li class="orange" id="li-cart">
                    <a href="order_info.html"><i class="icons icon-basket-2"></i>17 Items</a>
                    <ul id="cart-dropdown" class="box-dropdown parent-arrow">
                        <li>
                            <div class="box-wrapper parent-border">
                                <p>Recently added item(s)</p>

                                <table class="cart-table">
                                    <tr>
                                        <td><img src="~/img/products/sample1.jpg" alt="product"></td>
                                        <td>
                                            <h6>Lorem ipsum dolor</h6>
                                            <p>Product code PSBJ3</p>
                                        </td>
                                        <td>
                                            <span class="quantity"><span class="light">1 x</span> $79.00</span>
                                            <a href="#" class="parent-color">Remove</a>
                                        </td>
                                    </tr>
                                    
                                </table>

                                <br class="clearfix">
                            </div>

                            <div class="footer">
                                <table class="checkout-table pull-right">
                                    <tr>
                                        <td class="align-right">Tax:</td>
                                        <td>$0.00</td>
                                    </tr>
                                    <tr>
                                        <td class="align-right">Discount:</td>
                                        <td>$37.00</td>
                                    </tr>
                                    <tr>
                                        <td class="align-right"><strong>Total:</strong></td>
                                        <td><strong class="parent-color">$999.00</strong></td>
                                    </tr>
                                </table>
                            </div>

                            <div class="box-wrapper no-border">
                                <a class="button pull-right parent-background" href="#">Checkout</a>
                                <a class="button pull-right" href="order_info.html">View Cart</a>
                            </div>
                        </li>
                    </ul>
                </li>
                
            </ul>
        </nav>

    </div>

</div>
<!-- /Main Header -->*@
